.status-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.controls-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 0.5rem;
    flex-direction: column;
}