.podcast-input-container {
	display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.status-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.controls-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 0.5rem;
    flex-direction: column;
}

.image-container {
	width: 100%;
	padding: 5% 20%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.podcast-artwork {
	height: 25%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/* Grid with 3 rows per column */
.search-results-container {
	width: 100%;
	height: 100%;
}

.grid-3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1rem;
}

.grid-2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1rem;
}

.grid-1 {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 1rem;
}

/* card */
.result-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.result-image-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.feed-grid {
	grid-gap: 0rem;
}

.feed-image {
	width: 100%;
}
