name: Test
on: push

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'npm'
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup Deno
        uses: denolib/setup-deno@v2
        with:
            deno-version: v1.x
      - name: Install dependencies
        run: |
          npm install
          npm run build --if-present
      - name: Run tests
        run: |
          npm run test
