name: Test
on: push

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'npm'
      - name: Setup Deno
        uses: denolib/setup-deno@v2
        with:
            deno-version: v1.x
      - name: Install dependencies
        run: |
          npm install
      - name: Lint
        run: npm run lint
      - name: Format check
        run: npm run format:check
      - name: Type check
        run: npm run typecheck
      - name: Build
        run: npm run build
      - name: Run tests
        run: npm run test
